server:
  port: 8080

eureka:
  client:
    fetch-registry: true
    serviceUrl:
      defaultZone: http://localhost:8761/eureka

spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:7080/realms/studio_share
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
      server:
        webmvc:
          routes:
            - id: user-service
              uri: lb://user-service
              predicates:
                - Path=api/v1/users/**
            - id: follow-service
              uri: lb://follow-service
              predicates:
                - Path=/api/v1/followers/**