server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/m_users
    username: mnmr1996development
    password: mnmr1996development
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    enabled: false

eureka:
  client:
    fetch-registry: true
    serviceUrl:
      defaultZone: http://localhost:8761/eureka